* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik Mono One', sans-serif;
}

/* menù di navigazione */
.menu {
  margin-left: 90%;
  position: fixed;
  z-index: 2;
}

nav li {
  display: inline-block;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
  font-size: 12px;
  background-color: white;
  margin-top: 12px;
}

nav a {
  text-decoration: none;
  color: black;
}

/* Corpo della pagina */
section {
  height: 100vh;
  position: relative;
}

#superga {
  background-color: red;
  color: yellow;
}

#tommy {
  background-color: green;
  color: yellow;
}

#converse {
  background-color: yellow;
  color: green;
}

.shoe {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shoe img {
  width: 70%;
}

.shoe h1 {
  font-size: 35px;
}
