* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik Mono One', sans-serif;
}

section {
  height: 100vh;
  position: relative;
}

#superga {
  background-color: red;
  color: yellow;
}

#tommy {
  background-color: green;
}

#converse {
  background-color: yellow;
}

.shoe {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shoe img {
  width: 70%;
}

.shoe h1 {
  font-size: 35px;
}
